.topnav{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-flex;
    color: white;
    background-color: rgb(37, 37, 37);
    width: 100%;
    margin-bottom: 10px;
    font-size: 25px;
}
.Perfil{
    padding: 10px;
    font-weight: bold;
}
.right{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-left: auto;
    gap: 20px;

}
button{
    border-radius: 10px;
    color: white;
    background-color: #00acee;
    height: 60px;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 15px;
}

.firstcontainer{
    display: flex;
    flex-direction: column;
}

.container{
    width: 1050px;
    height: auto;
    background-color: none;
    border-style: solid;
    border-color: #00acee;
    border-radius: 15px;
    border-width: thin;
}
.colorbar{
    display: inline-flex;
    background-color: #00acee;
    width: 100%;
    height: 150px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
img{
    height: 250px;
    width: 250px;
    border-radius: 100%;
    margin-top: 45px;
    margin-left: 50px;
    border-style: solid;
    border-width: 5px;
    border-color: white ;
}
.texto{
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 39, 39);
}
.descripcion{
text-align: left;
width: 90%;
}

.container2{
    margin-top: 10px;
    width: 1050px;
    height: auto;
    background-color: none;
    border-style: solid;
    border-color: #00acee;
    border-radius: 15px;
    border-width: thin;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(39, 39, 39);
    position:absolute;
}
.educacion{
    padding-left: 50px;
}

.barraderecha{
    display: flex;
    flex-direction: column;
}

.request-box{
    color: rgb(39, 39, 39);
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: #00acee;
    border-width: thin;
    border-radius: 15px;
    width: 400px;
    margin-left: 10px;
}
.request-box h3{
    padding-left: 20px;
}
.request-list {
    list-style-type: none;
    padding: 0;
}
.request-list li {
    display: flex;
    align-items: center;
}
.request-list li img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border-width: medium;
    border-color: #00acee;
}
#SioNo{
    width: 100px;
    border:none;
}

.fila1{
    display: flex;
}

.connections-box{
    color: rgb(39, 39, 39);
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-color: #00acee;
    border-width: thin;
    border-radius: 15px;
    width: 400px;
    margin-left: 10px;
    margin-top: 10px;
}
.connections-box h3{
    padding-left:20px; ;
}
.connections-list {
    list-style-type: none;
    padding: 0;
}
.connections-list li {
    display: flex;
    align-items: center;
}
.connections-list li img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border-width: thin;
    border-color: rgb(29, 29, 29);
    margin-right: 10px;
}
